:root {
  --white : #fcf2fa;
  --purple : #912a7eaa;
  --purple-blc : #230622dd;
  --shadow : 0 5px 10px 5px rgba(0, 0, 0, .3);
  --navColor : linear-gradient(to right, rgba(178, 47, 147, .6)5%, rgba(35, 6, 34, .9));
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}

nav {
  position: absolute;
  background: var(--navColor);
  box-shadow: var(--shadow);
  height: 80px;
  width: 100%;
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

label.logo {
  color: var(--white);
  font-size: 30px;
  line-height: 80px;
  padding: 0 80px;
  letter-spacing: -1px;
  font-weight: 800;
  font-style: italic;
  transition: .2s ease;
  text-shadow: 3px 5px 20px #230622aa;
}

nav ul {
  float: right;
  margin-right: 80px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin-left: 20px;
}
nav ul li a {
  color: var(--white);
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 13px;
  text-transform: lowercase;
}
a.active, a:hover {
  background: var(--purple);
  transition: .5s;
}
.checkbtn {
  line-height: 80px;
  font-size: 30px;
  float: right;
  cursor: pointer;
  margin-right: 40px;
  display: none;
}
.checkbtn i {
  color: var(--white);
  padding: 5px;
  border-radius: 10px;
  transition: .5s ease;
}
.checkbtn i:hover {
  background: var(--purple);
}
#check {
  display: none;
}
section {
  height: 100vh;
  background: url(514f3fccb71047d780be491c435a79e1.gif) no-repeat;
  background-position: top;
  background-size: cover;
}

/* responsove code */
@media (max-width: 952px) {
  /* table mode */
  label.logo {
    font-size: 25px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 14px;
  }
}

@media (max-width: 858px) {
  /* mobile mode */
  .checkbtn {
    display: block;
  }
   ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--purple-blc);
    top: 80px;
    left: -100%;
    padding-top: 80px;
    text-align: center;
    transition: .5s ease;
  }
  nav ul li {
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a.active, a:hover {
    background: none;
    color: var(--blue);
    text-shadow: 0 10px 15px var(--blue);
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.home {
	color:  #B19CD8;
	min-height: 100vh;
	display: flex;
	align-items: center;
}

.home .content{
	max-width: 60rem;
}

.home .content h1{
	color:  #D9C4EC;
	font-size: 40px;
	text-transform:  uppercase;
	font-family:Copperplate;
}

.home .content p{
	color:  #D9C4EC;
	font-size: 15px;
	font-weight: 1.8;
	align-items: center;
	text-transform:  uppercase;
	font-family: Papyrus;
}

button {
  --primary-color: #D0C4E8;
  --secondary-color: purple;
  --hover-color: #111;
  --arrow-width: 10px;
  --arrow-stroke: 2px;
  box-sizing: border-box;
  border: 0;
  border-radius: 20px;
  color: var(--secondary-color);
  padding: 1em 1.8em;
  background: var(--primary-color);
  display: flex;
  transition: 0.2s background;
  align-items: center;
  gap: 0.6em;
  font-weight: bold;
}

button .arrow-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

button .arrow {
  margin-top: 1px;
  width: var(--arrow-width);
  background: var(--primary-color);
  height: var(--arrow-stroke);
  position: relative;
  transition: 0.2s;
}

button .arrow::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  border: solid var(--secondary-color);
  border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
  display: inline-block;
  top: -3px;
  right: 3px;
  transition: 0.2s;
  padding: 3px;
  transform: rotate(-45deg);
}

button:hover {
  background-color: var(--hover-color);
}

button:hover .arrow {
  background: var(--secondary-color);
}

button:hover .arrow:before {
  right: 0;
}

.heading{
	text-align: center;
	color:  #D9C4EC;
	text-transform: uppercase;
	padding-bottom: 3.5rem;
	font-size: 4rem;
}

.heading span{
	text-align: center;
	padding:90px;
	color: var();
	font-weight: 600;
}

.about .row{
	text-align:center;
	margin-top: 5%;
	display: flex;
	justify-content: space-between;	
}

.course-col{
	text-align:center;
	flex-basis: 31%;
	background: #f5cdcd;
	border-radius: 10px;
	margin-bottom: 5%;
	padding: 20px 12px;
	box-sizing:  border-box;
	
}

